<%# トップ画面 %>
<div class="top-image vh-100 d-flex align-items-center" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h1 class="display-4 text-white">トウシル</h1>
        <p class="text-white my-3">投資を知る</p>
        <a href="#" class="btn btn-primary me-2">詳しくはこちら</a>
        <a href="#" class="btn btn-outline-light">contact</a>
      </div>
    </div>
  </div>
</div>



