<%# タイトル %>
<% content_for(:title, t('.title')) %>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="card mt-2">
        <%# フォーム呼び出し %>
        <%= render 'devise/registrations/new' %>
      </div>
    </div>
  </div>
</div>
