
<div id="comments-count">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <%# 件数表示 %>
        <h6>コメント (<%= @post.comments.count %>件)</h6>
      </div>
    </div>
  </div>
</div>
