<h1 class="text-3xl font-bold underline oklch(25.8% 0.092 26.042)">Hello#index</h1>
<p class="underline hover:decoration-pink-500 ...">Find me in app/views/hello/index.html.erb</p>
<div class="bg-mint-500">
  Hello
</div>
<button class="bg-sky-500 hover:bg-sky-700 ...">変更を保存</button>
<button class="btn btn-primary">Hello daisyUI!</button>
