<!-- カテゴリ -->
  <div class="pb-3">
    <%# カテゴリラベル %>
    <%= form.label :category, class: "form-label" %>
    <%# カテゴリフィールド %>
    <%= form.select :category,
        options_for_select([
        [t('posts.new.category.scalping'), 'scalping'],
        [t('posts.new.category.day'), 'day'],
        [t('posts.new.category.swing'), 'swing']
        ], @post.category),
    { include_blank: t("posts.new.please_select") },
    { class: "form-control" } %>
  </div>
