<!-- 画像アップロード（書籍用）-->
<div class="mb-3">
<%= form.label :image, class: "form-label field-label" %>
<%= form.file_field :image, 
  class: "form-control", 
  id: "image-input",
  accept: 'image/*' %>
</div>
