<!-- 画像アップロード（書籍用）-->
<div class="mb-3" data-field="image">
  <%# 画像ラベル %>
  <%= form.label :image, class: "form-label" %>
  <%# 画像フィールド %>
  <%= form.file_field :image, 
    class: "form-control",
    id: "image-input",
    accept: 'image/*',
    disabled: true %>
</div>
