<!-- レビュー内容 -->
<div class="mb-3">
  <%# 感想ラベル %>
  <%= form.label :review_text, class: "form-label" %>
  <%# 感想フィールド %>
  <%= form.text_area :review_text,
    rows: 10, 
    class: "form-control",
    placeholder: t("posts.new.placeholder") %>
</div>
