<!-- レビュー内容 -->
<div class="mb-3">
<%= form.label :review_text, class: "form-label" %>
<%= form.text_area :review_text,
               rows: 10, 
              class: "form-control",
        placeholder: t("posts.new.placeholder") %>
</div>
