<!-- フラッシュメッセージを表示 -->
<% flash.each do |type, message| %>
  <% if message.is_a?(String) && message.present? %>
    <% alert_class = type == 'notice' ? 'success' : 'danger' %>
    <div class="alert alert-<%= alert_class %>">
      <%= message %>
    </div>
  <% end %>
<% end %>
