<%# ページネーション %>
    <div class="pagination-fixed">
      <div class="container">
        <div class="d-flex justify-content-center">
          <%= paginate @posts, theme: 'bootstrap-5' if respond_to?(:paginate) %>
          </div>
        </div>
      </div>
    </div>
