<%# 新規投稿ボタン呼び出し %>
<%= render 'posts/index/new_post_button' %>

<%# 表示件数呼び出し %>
<%= render 'posts/index/search_results_info' %>

<%# 投稿表示箇所 %>
<div class="page-container">
  <div class="content-wrapper">
    <div class="container-fluid px-5 py-5">
      <div class="row g-4">
        <%# 投稿呼び出し %>
        <%= render partial: 'posts/index/post_card', collection: @posts, as: :post %>
      </div>
    </div>
  </div>
</div>

<%# ページネーション呼び出し %>
<%= render 'posts/index/pagenation' %>
