<%# サムネイル表示 %>
<div class="post-image-container <%= 'book-style' if post.category == '書籍' %>">
  <% if post.image.attached? %>
    <%= image_tag post.image.variant(resize_to_fill: [400, 300]), 
                  alt: post.title, 
                  class: "post-image" %>
  <% elsif post.youtube_video_id %>
    <%= image_tag post.youtube_thumbnail_url, 
                  alt: "#{post.title} - YouTube動画", 
                  class: "post-image" %>
  <% end %>
</div>
