<%# サムネイル表示 %>
<%# 書籍 %>
<div class="post-image-container">
  <% if post.image.attached? %>
    <%= image_tag post.image.variant(resize_to_limit: [400, 350]), 
                  alt: post.title,
                style:"display: block; margin: 0 auto;" %>
  <%# YouTube %>
  <% elsif post.youtube_video_id %>
    <%= image_tag post.youtube_thumbnail_url, 
                  alt: "#{post.title} - YouTube動画", 
                class: "post-image" %>
  <% end %>
</div>
